.heading{
    width:100%;
    text-align: left;
}

.heading h3{
    display:inline
}

.heading button{
    float:right;
    border:1px solid greenyellow
}
.heading img {
    width: 80%
}
h4{
    background-color: rgb(255, 97, 97);
    line-height: 20px;
    margin: 0px;
    width:100%;
    position: fixed;
    bottom: 1px;;
    
}

.modal-dialog{
	width : 90%
}

.instruction_image{
    display:inline-block;
    width: 45%;
}

video{
    background: url("game_console.png");
    background-size:cover ;
    background-position: center;
    padding: 25px;
}
.big_image{
    width:100%;
}

canvas{
    background-color: red;
}